	body {
		font: normal 110% "Trebuchet MS", Helvetica, sans-serif;
		min-width:970px;
		margin: 0;
		background: #eee;
		behavior: url("/js/htc/csshover3.htc");
	}
	a {
		color: #069;
	}
	a:hover {
		color: #c00;
	}
	@font-face {
		font-family: 'PFBeauSansPro';
		src: url('/font/pfbeausanspro-reg-webfont.eot');
		src: local('PF BeauSans Pro'), local('PFBeauSansPro-Regular'), url('/font/pfbeausanspro-reg-webfont.woff') format('woff'), url('/font/pfbeausanspro-reg-webfont.ttf') format('truetype'), url('/font/pfbeausanspro-reg-webfont.svg#webfonttDKkPCa4') format('svg');
		font-weight: normal;
		font-style: normal;
	}
/* Button */

	/* buttonblock */
	div.button_block {
		margin: 20px 0;
	}
	/* button basics */
	a.minibutton {
		font-family: "PFBeauSansPro", "Trebuchet MS";
		display:inline-block;
		height:30px;
		padding: 0 0 0 3px;
		font-size:17px;
		font-weight:normal;
		color:#333;
		text-shadow:1px 1px 0 #eee; 
		background:url(/images/def_skin/minibutton_matrix.png) 0 0 no-repeat;
		white-space:nowrap;
		border:none;
		overflow:visible;
		overflow-y: hidden;
		cursor:pointer;
		text-decoration:none;
	}
	
	a.minibutton>span {
		display:block;
		height:23px;
		padding:7px 15px 0px 13px;
		line-height:17px;
		background:url(/images/def_skin/minibutton_matrix.png) 100% 0 no-repeat;
	}
	
	a.minibutton:hover, a.minibutton:focus {
		color:#fff;
		text-decoration:none;
		text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
		background-position:0 -30px;
		filter: glow(color=#ffffff,strength=1);
	}
	a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
	
	a.minibutton.mousedown{background-position:0 -60px; }
	a.minibutton.mousedown>span{background-position:100% -60px; }
	
	/* with icon */
	a.btn-download .icon {
		float:left;
		margin-left:-5px;
		margin-top: -2px;
		width:20px;
		height:30px;
		background:url() 0 0 no-repeat;
	}
	a.btn-download .icon {background-position:-40px 0;}
	a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}	
	
	DIV.button_block1 {
		margin: 5px 0 10px 0;
	}
	a.minibutton1 {
		display:inline-block;
		height:23px;
		padding:0 0 0 3px;
		font-size:13px;
		font-weight:bold;
		color:#333;
		text-shadow:1px 1px 0 #fff; 
		background:url(/images/minibutton_matrix1.png) 0 0 no-repeat;
		white-space:nowrap;
		border:none;
		overflow:visible;
		cursor:pointer;
		text-decoration:none;
	}
	a.minibutton1>span {
		display:block;
		height:23px;
		padding:0 10px 0 8px;
		line-height:23px;
		background:url(/images/minibutton_matrix1.png) 100% 0 no-repeat;
	}
	a.minibutton1:hover, a.minibutton1:focus {
		color:#fff;
		text-decoration:none;
		text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
		background-position:0 -30px;
	}
	a.minibutton1:hover>span, a.minibutton1:focus>span {background-position:100% -30px;}
	
	a.minibutton1.mousedown{background-position:0 -60px; }
	a.minibutton1.mousedown>span{background-position:100% -60px; }
	
	/* with icon */
	a.btn-download1 .icon {
		float:left;
		margin-left:-4px;
		margin-right: 5px;
		width:18px;
		height:22px;
		background:url(/images/minibutton_icons.png) 0 0 no-repeat;
	}
	a.btn-download1 .icon {background-position:-40px 0;}
	a.btn-download1:hover .icon, a.btn-download1:focus .icon {background-position:-40px -25px;}
	
	
/* Header */
	div.botsi {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 115px;
		z-index: 1;
/*		box-shadow: 0px 0px 10px #555;
		-moz-box-shadow: 0px 0px 10px #555;
		-webkit-box-shadow: 0px 0px 10px #555;
*/
	}
	div.header {
		height: 115px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#444444)); 
        background-image: -moz-linear-gradient(top, #000000, #444444); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#444444);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#444444)"; 
        z-index: 100;
        position: relative;
	}
	table.header {
        position: relative;
        background: url(/images/admin/_default/header.png) no-repeat center;
        z-index: 120;
		margin-top: -115px;
		min-width:970px;
	}
	table.header td.logo {
		padding: 20px 0 20px 30px;
		font-style: italic;
		color: #efefef;
		width: 1%;
	}
	table.header td.logo img {
		border-right: solid 1px #666;
		padding-right: 30px;
	}
	table.header td.slog {
		padding: 20px 30px;
		font-style: italic;
		color: #efefef;
	}
	table.header td.slog font.mslink a {
		display:block;
		font-size: 12px;
		font-style: italic;
		padding-top: 5px;
		color: orange;
	}
	table.header td.slog font.mslink a:hover {
		color: red;
	}
	table.header h1 {
		margin: 0 0 5px 0;
		font-size: 150%;
		font-weight: normal;
		color: #efefef;
	}
	table.header p {
		margin: 0;
		color: #efefef;
	}
	table.header td.user {
		color: #efefef;
		padding: 20px 30px 0 0;
		font-size: 90%;
	}
	table.header td.user a {
		color: orange;
	}
	table.header td.user a:hover {
		color: red;
	}
	table.header td.menu {
		padding-right: 30px;
	}
	table.header td.menu table.main_menu td {
		padding:0;
		margin:0;
		vertical-align: bottom;
	}
	table.header td.menu table.main_menu div {
		background-color: #ccc;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		padding: 5px 10px;
		margin-left: 0px;

	}
	table.header td.menu table.main_menu div:hover {
		background-color: #dedede;
    }
	table.header td.menu table.main_menu div.current {
		background-color: #fff; 
	}
	table.header td.menu table.main_menu div a { 
		text-decoration: none;
		font-size: 100%;
		color: #333; 
	}
	table.header td.menu table.main_menu td.menusep { 
		background: none;
		padding:0 1px;
		font-size: 30%;
	}
/* End Header */
	table.maincontainer {
		min-width: 970px;
	}
	.popup_window {
		margin: auto;
		width: 600px;
		height: auto;
	}
	.popup_window h1 {
		font-size: 24px;
		background: #069;
		color: #fff;
		padding: 10px 20px;
		border-left: solid 1px #0094d2;
		border-top: solid 1px #0094d2;
		border-right: solid 1px #005077;
		border-bottom: solid 1px #005077;
		margin: 0px;
	}
	.popup_window_content {
		padding: 15px 20px;
		border-left: solid 1px #fefefe;
		border-top: solid 1px #fefefe;
		border-right: solid 1px #dedede;
		border-bottom: solid 1px #dedede;
		height: 340px;
		background: #efefef;
	}
	.popup_window_content h2 {
		margin: 0px;
		font-size: 20px;
	}

/* Content */

	.contentwrapper{
		float: left;
		width: 100%;
	}

	.contentcolumn{
		margin-left: 280px;
	}
	.leftcolumn{
		float: left;
		width: 280px;
		margin-left: -100%;
	}
	.leftcolumn b {
		display: block;
		font-size: 120%;
		padding-top: 10px;
	}
	.codselect {
		margin-bottom: 15px;
	}
	.codselect select {
		font-size: 120%;
		width: 200px;
	}
	.innertubeleft div.codselect {
		background-image: none;
	}
	.footer{
		clear: left;
		margin: 20px 30px;
		padding: 20px 0 20px 20%;
		border-top: solid 1px #eee;
		text-align: center;
	}

	.innertube {
		margin: 20px 30px;
		font-family: Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif;
		min-width: 640px;
		font-size: 14px;
		line-height: 22px;
	}
	.innertube h1,.innertube h2,.innertube h3,.innertube h4 {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	.innertube h1 {
		font-size: 28px;
		line-height: 28px;
	}
	.innertube h2, .innertube h6 {
		font-size: 24px;
		border-bottom: solid 1px #ccc;
		padding-bottom: 3px;
		margin-bottom: 10px;
	}
	.innertube h6 {
		color: #888;
	}
	.innertube h3 {
		font-size: 22px;
		margin-bottom: 10px;
	}
	.innertube h4 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.innertube p.tip {
		border: solid 2px #f99;
		background: #ffe7e7 url(/images/ktip.png) no-repeat;
		padding: 20px 30px 20px 65px;
	}
	.innertube p.consol {
		background: #122312;
		color: #fff;
		padding: 15px 20px;
		font-family: "Courier New", monospace;
		font-size: 14px;
		line-height: 18px;
	}
	.innertube img {
		border: solid 1px #ccc;
		-moz-box-shadow: 3px 3px 3px #ccc;
		-webkit-box-shadow: 3px 3px 3px #ccc;
		box-shadow: 3px 3px 3px #ccc;
	}
	.innertube a.out {
		padding-left: 20px;
		background: url(/images/outlink.gif) no-repeat;
	}
	.innertube p.listing, .innertube pre.listing {
		background-color: #f8f8f8;
		border: solid 1px #ccc;
		padding: 15px 20px;
		font-family: "Courier New", monospace;
		font-size: 14px;
	}
	.innertubeleft {
		margin: 20px 0 20px 30px;
	}
	.contentcolumn div.serverlist {
		display: block;
		float: left;
		width: 40%;
		margin: 15px 5% 25px 5%;
		min-width: 220px;
	}
	.serverlist {

	}
	.serverlist em.unit {
		display: block;
		position: absolute;
		font-style: normal;
		background: green;
		color: #fff;
		padding: 2px 7px;
		text-align: center;
		margin-left: -10px;
	}
	.serverlist em.unit b {
		font-size: 18px;
		display: block;
		font-weight: normal;
	}
	.serverlist img {
		margin: 0 35px 10px 0;
	}
	.contentcolumn table {
		width: 100%;
	}
	.serverlist td.vpsname {
		padding-bottom: 10px;
	}
	.serverlist td.vpsname nobr {
		font-size: 14px;
		color: #555;
	}
	.serverlist td.vpsname font {
		padding-top: 10px;
		font-size: 14px;
		display: block;
	}
	.serverlist td.typestat, .serverlist td.perstat {
		font-size: 14px;
		padding-right: 10px;
	}
	.serverlist td.perstat {
		padding: 0 0 0 10px;
	}
	.serverlist td.barstat {
		width: 100%;
		border: solid 1px #555;
		padding: 1px;
	}
	.serverlist td.barstat em {
		display: block;
		height: 14px;
	}
	.serverlist td.sepstat {
		height: 4px;
	}
	.serverlist td.ss1 {
		height: 10px;
	}
	.serverlist td.controlvps {
		border-top: solid 1px #eee;
		padding: 8px 0 0 0;
		text-align: center;
	}
	.serverlist td.poweroff {
		width: 100%;
	}
	.serverlist td.controlvps img {
		margin: 0 4px;
	}
	.serverlist td img.oslogo {
		position: absolute;
		margin: 0 0 0 40px;
		z-index: 100;
	}
	.serverlist div.lstat em i {
		margin-top: -12px;
		display: block;
		font-style: normal;
		
	}
	.createvps input.selectvps {
		float: left;
		margin: 7px 15px 0 0;
	}
	.step3 input.selectvps {
		float: left;
		margin: 4px 15px 0 0;
	}
	.createvps h4 {
		margin: 0;
	}
	.step1 h3 {
		margin: 0;
	}
	.createvps p.anonce {
		background: #efefef;
		padding: 15px 30px;
	}
	.createvps div.anonce {
		background: #efefef;
		padding: 10px 30px;
		margin: 30px 0;
	}
	.createvps p.desc {
		margin: 10px 0 20px 30px;
		font-style: italic;
		color: #555;
		font-size: 16px;
	}
	.createvps p.desc b {
		display: block;
		margin-bottom: 5px;
		font-style: normal;
		color: #000;
		font-size: 18px;
	}
	.createvps div.addresource {
		float: right;
	}
	.step2 tr td {
		border-bottom: solid 1px #eee;
		padding: 5px 7px;
	}
	.step2 tr.head td {
		border-bottom: solid 1px #ccc;
	}
	.step2 tr td.sliderright {
		border-bottom: none;
		padding: 0 15px;
	}
	.step2 tr td.sliderleft {
		border-bottom: none;
		padding: 0 25px 0 15px;
	}
	.createvps div.lic {
		width: 94%;
		border: solid 1px #ccc;
		height: 400px;
		padding: 10px 3%;
		overflow-y: auto;
	}
	div.scenary input.scenaryname {
		font-size: 24px;
	}
	div.scenary input.scenaryvolume {
		font-size: 18px;
	}
	.leftcolumn div.balance {
		border: none;
		background: #efefef;
		padding: 15px;
		margin-top: 25px;
	}
	div.balance div.addresource {
		margin: 0;
		padding: 10px 0;
		background: none;
	}
	.construktorunit {
		padding: 25px 20px 35px 10px;
		margin: 30px 0 30px 0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#efefef)); 
        background-image: -moz-linear-gradient(top, #fefefe, #efefef); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#efefef);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#efefef)"; 
		box-shadow: 0px 0px 5px #cccccc;
		-moz-box-shadow: 0px 0px 5px #cccccc;
		-webkit-box-shadow: 0px 0px 5px #cccccc;
		-moz-border-radius: 10px;  
		-webkit-border-radius: 10px;

	}
	.construktorunit h3 {
		margin: 13px 0 0 0;
	}
	.construktorunit p {
		margin: 0;
		padding: 5px 0 0 0;
	}
	.construktorunit td.sliderdel {
		height: 40px;
	}
	.lasticon {
		
	}
	.selectplan h2 {
		margin:3px 0 10px 0;
		font-size: 24px;
	}
	td.konstruktor_cell {

	}
	table.selectplan td {
		padding: 3px 5px;
		border-bottom: solid 1px #ccc;
	}
	table.constructc td {
		border-bottom: none;
	}
	td.last .scenaryvolume {
		font-size: 80%;
	}
	div.os_type {
		display: none;
	}
	div.os_scale {
		display: none;
	}
	div.os_static {
		display: none;
	}
	div.osselect select {
		margin-bottom: 20px;
	}
	table.inliststat {
		margin: 10px -10px 20px 0;
		border-top: solid 1px #f5f5f5;
	}
	table.inliststat td {
		padding: 5px 10px  5px 0;
		font-size: 12px;
		vertical-align: top;
		border-bottom: solid 1px #f5f5f5;
	}
/* Helpdesk */
	div.helpdeskmenu p {
		margin: 0;
		padding: 0;
	}
	table.newticket td {
		padding: 0 20px 10px 0;
	}
	table.newticket td input, table.newticket td select, table.newticket td textarea {
		font-size: 18px;
	}
	table.newticket td textarea {
		width: 100%;
		height: 200px;
	}
	table.newticket td.newticketlabel {
		width: 80px;
	}
	div.ticketfiltr {
		background: #efefef;
		padding: 15px 30px;
		margin-bottom: 25px;
	}
	div.ticketfiltr td {
		padding: 3px 5px;
	}
	div.ticketfiltr td input {
		font-size: 14px;
	}
	div.ticketfiltr td select {
		font-size: 18px;
	}
	table.hdlisttable td {
		padding: 8px;
		border-bottom: solid 1px #ccc;
		font-size: 14px;
	}
	table.hdlisttable td.listHeader {
		padding: 8px;
		background: #efefef;
		border-bottom: solid 1px #bbb;
		font-size: 18px;
	}
	table.ticketview td {
		padding: 8px;
		border-bottom: none;
		font-size: 14px;
	}
	div.newmsgchat textarea {
		width: 95%;
		font-size: 16px;
		height: 100px;
		margin-bottom: 10px;
	}
	div.newmsgchat input {
		font-size: 18px;
	}
	p.postdate {
		margin: 0;
		font-size: 90%;
		color: #555;
	}
	td.chattext {
		padding: 5px 10px 30px 10px;
		font-style: italic;
	}
	#ajax_loader {
		text-align: center;
	}
	#ajax_loader img {
		margin: 25px;
	}
	#vps_graph {
/*		font-family: "Courier New", Courier, Monaco, monospace;
		font-size: 12px;*/
	}
	#vps_graph div#cv_cpu, #vps_graph div#cv_ram {
		margin-top: 5px;
		border:solid 1px #ccc;
		padding: 10px;
	}
	td.maintd {
		background: #fff;
		box-shadow: 0px 0px 10px #aaa;
		-moz-box-shadow: 0px 0px 10px #aaa;
		-webkit-box-shadow: 0px 0px 10px #aaa;
	}
	table.table_vps_list {
		margin-top: 10px;
	}
	tr.table_vps_list_header td {
          
		background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE, endColorstr=#CCCCCC);  
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE, endColorstr=#CCCCCC)"; 
		padding: 10px 10px;
		font-size:16px;
		text-shadow: 1px 1px 1px #fff;
		color: #444;
		border-bottom: solid 1px #aaa;
	}
	td.table_vps_list_vps_info, td.table_vps_list_vps_pref, td.table_vps_list_vps_name, td.table_vps_list_vps_status, td.table_vps_list_vps_cpu, td.table_vps_list_vps_ram, td.table_vps_list_vps_hdd, td.table_vps_list_vps_ip, td.table_vps_list_vps_control, td.table_vps_list_dns {
		font-size: 14px;
		padding: 10px 10px 0 10px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fbfbfb));
        background-image: -moz-linear-gradient(top, #ffffff, #fbfbfb);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#fbfbfb);  
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#fbfbfb)";
	}
	td.table_vps_list_dns {
		padding: 10px;
		font-size: 16px;
		border-bottom: solid 1px #eee;
		background: none;
	}
	td.table_vps_list_vps_info {
		padding: 8px 0 15px 10px;
		border-bottom: solid 1px #eee;
	}
	td.table_vps_list_vps_pref {
		padding: 8px 0 15px 10px;
		border-bottom: solid 1px #eee;
	}
	td.table_vps_list_vps_status {
		text-align: center;
		padding-top: 15px;
	}
	td.table_vps_list_vps_status span {
		padding: 2px 5px;
		font-size: 12px;
		-moz-border-radius: 3px;  
		-webkit-border-radius: 3px;

/*		box-shadow: 1px 1px 1px #999;
		-moz-box-shadow: 1px 1px 1px #999;
		-webkit-box-shadow: 1px 1px 1px #999;
*/
	}
	td.table_vps_list_vps_ip {
		font-size: 14px;
	}
	td.table_vps_list_vps_status div.vps_work span {
		padding: 0;
	}
	td.table_vps_list_vps_status div.vps_running span {
		background: #090;
		color: #fff;
	}
	td.table_vps_list_vps_status div.vps_disabled span, td.table_vps_list_vps_status div.vps_vps_shutdown span {
		background: #ddd;
		color: #333;
	}
	td.table_vps_list_vps_status div.vps_crashed span {
		background: #f03;
		color: #fff;
	}
	td.table_vps_list_vps_name {
		width: 180px;
	}
	/* Bubble pop-up */
	.bubbleInfo {
		position: relative;
	}
	span.vps_param {
		font-size: 12px;
		display: block;
		padding-top: 3px;
	}
	span.summary {
		padding-top: 5px;
	}
/*	.trigger {
		position: absolute;
	}*/
	.popup {
		position: absolute;
		display: none;
		z-index: 500;
		border-collapse: collapse;
	}
	.popup td.corner {
		height: 15px;
		width: 19px;
		padding: 0;
	}

	.popup td#topleft { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-1.png); }
	.popup td.top { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-2.png); }
	.popup td#topright { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-3.png); }
	.popup td.left { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-4.png); }
	.popup td.right { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-5.png); }
	.popup td#bottomleft { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-6.png); }
	.popup td.bottom { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-7.png); text-align: center;}
	.popup td.bottom img { display: block; margin: 0; }
	/*.popup td.bottom img { display: block; margin: 0 auto; }*/
	.popup td#bottomright { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-8.png); }

	.popup table.popup-contents {
		font-size: 12px;
		line-height: 1.2em;
		background-color: #fff;
		color: #666;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
		}
	table.popup-contents th {
		text-align: right;
		}

	table.popup-contents td {
		text-align: left;
		}

	tr#release-notes th {
		text-align: left;
		text-indent: -9999px;
		background: url(http://jqueryfordesigners.com/demo/images/coda/starburst.gif) no-repeat top right;
		height: 17px;
		}

	tr#release-notes td a {
		color: #333;
	}
	span.trigger:hover {

	}
	table.resourceprice {
		margin: 30px 0 20px 0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fffdee), to(#fcf9dc));
        background-image: -moz-linear-gradient(top, #fffdee, #fcf9dc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffdee, endColorstr=#fcf9dc);
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffdee, endColorstr=#fcf9dc)";
		box-shadow: 0px 0px 5px #d7d3af;
		-moz-box-shadow: 0px 0px 5px #d7d3af;
		-webkit-box-shadow: 0px 0px 5px #d7d3af;
		-moz-border-radius: 10px;  
		-webkit-border-radius: 10px;

	}
	table.resourceprice td {
		border:none;
		padding: 0 20px 10px 20px;
		border-right: solid 1px #d2cfba;
		border-left: solid 1px #fff;
		font-size: 30px;
		color: #474535;
		text-shadow: 1px 1px 1px #ffffff;
		width: 20%;
	}
	table.resourceprice td.resourcepricehr {
		padding: 10px 20px 5px 20px;
		font-size: 20px;
		color: #67644a;
	}
	table.resourceprice td.first {
		border-left: none;
	}
	table.resourceprice td.last {
		border-right: none;
	}
	td.vpsbutton {
		background: #fbfbfb;
		padding: 0 10px 0px 65px;
		border-bottom: solid 1px #eee;
	}
	div.vpsedit {
		margin-top: -11px;
		background: #fbfbfb;
		padding: 10px 10px 10px 10px;
		border-bottom: solid 1px #eee;
	}
	form.vps_edit_form {
		margin:0;
	}
	div.editwindow {
		margin-bottom: 10px;
		background: #fff;
		border: solid 1px #eee;		
	}
	table.inlist {
		margin: 0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fffdee), to(#fcf9dc));
        background-image: -moz-linear-gradient(top, #fffdee, #fcf9dc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffdee, endColorstr=#fcf9dc);
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffdee, endColorstr=#fcf9dc)";
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-moz-border-radius: 0px;  
		-webkit-border-radius: 0px;
	}
	table.resourceprice td {
		font-size: 20px;
	}
	div.inlistconstruktor {
		padding: 25px 20px 35px 10px;
		margin: 0;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#efefef)); 
        background-image: -moz-linear-gradient(top, #fefefe, #efefef); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#efefef);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#efefef)"; 
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-moz-border-radius: 0;  
		-webkit-border-radius: 0;

	}
	td.inlistlabel {
		font-size: 16px;
		padding-right: 20px;
	}
	.ac_results {
		padding: 0px;
		border: 1px solid WindowFrame;
		background-color: Window;
		overflow: hidden;
	}
	
	.ac_results ul {
		width: 100%;
		list-style-position: outside;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	.ac_results iframe {
		display:none;/*sorry for IE5*/
		display/**/:block;/*sorry for IE5*/
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
		filter:mask();
		width:3000px;
		height:3000px;
	}
	
	.ac_results li {
		position:relative;
		margin: 0px;
		padding: 2px 5px;
		cursor: pointer;
		display: block;
		width: 100%;
		font: menu;
		font-size: 12px;
		overflow: hidden;
	}
	
	.ac_loading {
		background : Window url('autocomplete_indicator.gif') right center no-repeat;
	}
	
	.ac_over {
		background-color: Highlight;
		color: HighlightText;
	}
/* Balance */
	div.balanceblock {
		background: #fff;
		padding: 0 0 5px 0;
		margin: 20px 30px 30px 0;
		box-shadow: 0px 0px 3px #999;
		-moz-box-shadow: 0px 0px 3px #999;
		-webkit-box-shadow: 0px 0px 3px #999;
		-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;

	}
	div.balanceblock p {
		margin:0;
		padding:0;
		color: #222;
	}
	div.balanceblock div.cashflow {
		padding: 10px;
		min-width: 220px;
	}
	div.balanceblock table {
		margin:0 0 15px 0;
		padding:0;
		font-size: 60%;
		color: #555;
	}
	div.balanceblock table td {
		padding: 3px 0 0 0;
	}
	div.balanceblock h2 {
		margin:0 0 5px 0;
		padding:0 0 5px 0;
		font-size: 200%;
		color: #000;
		border-bottom: solid 1px #ddd;
	}
	div.balanceblock h4 {
		margin:0 0 10px 0;
		padding:0;
	}
	div.balanceblock h2 span {
		font-size: 60%;
		margin:0;
	}
/* Profile */
	#settings_form {
		font-size: 80%;
		padding: 5px 10px;
	}
	#settings_form td {
		padding: 2px 5px;
	}
	#settings_form td input {
		font-size: 100%;
	}
	#files_form {
		font-size: 80%;
		padding: 5px 10px;
	}
	#files_form td {
		padding: 2px 5px;
	}
	#files_form td input {
		font-size: 100%;
	}
/* Stat */
	table.table_vps_stat {
		font-size: 13px;
		margin: 30px 0;
		border-top: solid 1px #ccc;
	}
	table.table_vps_stat td {
		padding: 5px;
		border-bottom: solid 1px #ccc;
		border-left: solid 1px #ccc;
		vertical-align: top;
	}
	table.table_vps_stat td.statprice, table.table_vps_stat td.statlast {
		border-right: solid 1px #ccc;
	}
	table.table_vps_stat td.statname {
		border-left: none;
	}
	table.table_vps_stat td.statprice {

	}
	table.table_vps_stat td.statram, table.table_vps_stat td.statnet {
		background: #f0f0f0;
	}
	table.table_vps_stat td.statcpu, table.table_vps_stat td.stathdd {
		background: #fbfbfb;
	}
	table.table_vps_stat td.nbstat {
		border:none;
	}
	table.table_vps_stat tr.odd td.statram, table.table_vps_stat tr.odd td.statnet {
		background: #e5e5e5;
	}
	table.table_vps_stat tr.odd td.statcpu, table.table_vps_stat tr.odd td.stathdd {
		background: #efefef;
	}
	table.table_vps_stat tr.odd td.statdate, table.table_vps_stat tr.odd td.statname, table.table_vps_stat tr.odd td.statprice {
		background: #fbfbfb;
	}
	div.billcheckbox {
		font-size: 14px;
		margin: 10px 0 0 0;
	}
	div.billcheckbox input {
		margin: 0 10px 0 0;
	}
	div.billcheckbox label {
		padding: 3px 0 0 0;
	}
	div.billcheckbox input.billcheckboxsub {
		margin: 10px 0 0 0;
	}
	p.lineonpage {
		margin:0;
		padding: 0;
		font-size: 14px;
		text-align: right;
	}
	span.spcom {
		font-size: 14px;
	}
	table.table_vps_stat {
		margin-top: 10px;
	}
	td.complete_task div {
		text-decoration: line-through;
	}
	div.categoryhead {
		border-bottom: solid 1px #ccc;
		padding-bottom: 3px;
		margin-bottom: 8px;
		font-size: 16px;
	}
	div.category1item {
		border-bottom: dotted 1px #ccc;
		padding-bottom: 5px;
		margin-bottom: 5px;
		font-size: 16px;		
	}
	div.category2item div.category1item {
		border-bottom: none;
		padding-bottom: 5px;
		margin-bottom: 0px;
		margin-left: 20px;
		font-size: 14px;
	}
	div.category2item div.category2item {
		margin-top: 5px;
		margin-left: 20px;
		font-size: 14px;
	}
	div.categorymenu {
		border: solid 1px #ccc;
		font-size: 18px;
		padding: 15px 20px 10px 20px;
		background: #fcfcfc;
		margin: 25px 0;
	}




	div.maruku_toc {
		border: solid 1px #ccc;
		font-size: 18px;
		padding: 15px 20px 10px 20px;
		background: #fcfcfc;
		margin: 25px 0;
	}
	div.maruku_toc h4 {
		margin-bottom: 10px;
		padding-bottom: 3px;
		border-bottom: dotted 1px #ddd;
		margin-top: 0px;
		font-size: 20px;
	}
	div.maruku_toc ul {
		margin: 0px;
		padding: 0px;
		margin-bottom: 10px;
	}




	div.categorymenu h4 {
		margin-bottom: 10px;
		padding-bottom: 3px;
		border-bottom: dotted 1px #ddd;
		margin-top: 0px;
		font-size: 20px;
	}
	div#content_list {
		border: solid 1px #ccc;
		font-size: 18px;
		padding: 15px 20px;
		background: #fcfcfc;
		margin: 25px 0;
	}
	div#content_list h4 {
		margin-bottom: 10px;
		padding-bottom: 3px;
		border-bottom: dotted 1px #ddd;
		margin-top: 0px;
		font-size: 20px;
	}
	div.crosh {
		padding-bottom: 10px;
		border-bottom: solid 1px #ccc;
	}
	ol.search li {
		margin-bottom: 20px;
	}
	ol.search li a.searchtitle {
		margin-bottom: 5px;
		font-size: 18px;
	}
	ol.search li div.searchcategory {
		font-size: 12px;
		font-style: italic;
		border-bottom: solid 1px #eee;
	}
/*HAck*/
	@media all and (-webkit-min-device-pixel-ratio:10000),
	not all and (-webkit-min-device-pixel-ratio:0) {.header  {background: #000;}}
	@media all and (-webkit-min-device-pixel-ratio:10000),
	not all and (-webkit-min-device-pixel-ratio:0) {table.resourceprice {background: #fcf9dc;}}
	@media all and (-webkit-min-device-pixel-ratio:10000),
	not all and (-webkit-min-device-pixel-ratio:0) {.construktorunit {background: #fefefe;}}
	@media all and (-webkit-min-device-pixel-ratio:10000),
	not all and (-webkit-min-device-pixel-ratio:0) {table.header td.menu table.main_menu div  {background: #eee;}}
	@media all and (-webkit-min-device-pixel-ratio:10000),
	not all and (-webkit-min-device-pixel-ratio:0) {table.header td.menu table.main_menu div.current  {background: #fff;}}
	@media all and (-webkit-min-device-pixel-ratio:10000),
	not all and (-webkit-min-device-pixel-ratio:0) {tr.table_vps_list_header td  {background: #eee;}}