---
layout: default
---

<!-- TOP NAVIBAR _ START-->
<div class="crosh">
	<a href="/">База знаний</a> ::
	<a href="/{{ page.categories | first | catname2link }}">{{ page.categories | first }}</a> :: 
	{{ page.title }}
</div>
<!-- TOP NAVIBAR _ END-->

<h1>{{ page.description }}</h1>

<!-- ARTICLE _ START -->
{{ content }}
<!-- ARTICLE _ END -->

<h6 class="usl">Условия использования документа</h6>
<p>Материал представленный на данной странице может быть использован Вами по своему усмотрению. Разрешается копирование и распространение предоставленного материала без изменения содержания и без предварительного уведомления администрации <a class='out' target='_blank' href="http://www.clodo.ru">Clodo.ru</a>.</p>
<p>Мы будем признательны Вам за сообщения об ошибках в представленной документации и за предложения об улучшении документации. По этим вопросам необходимо обращаться по адресу <a href="mailto:mail@clodo.ru">mail@clodo.ru</a>. При обращении не забывайте указывать URL-адрес публикации.</p>